name: Build, Test and SonarCloud

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore
      run: dotnet restore FinancialControlSystem-Backend/FinancialControlSystem.sln

    - name: Build
      run: dotnet build FinancialControlSystem-Backend/FinancialControlSystem.sln --no-restore --configuration Release

    - name: Test with coverage
      run: dotnet test FinancialControlSystem-Backend/FinancialSystem.Test/FinancialSystem.Test.csproj --no-build --configuration Release /p:CollectCoverage=true /p:CoverletOutput=Coverage/coverage.cobertura.xml /p:CoverletOutputFormat=cobertura

    - name: Verify coverage file exists
      run: ls -R FinancialControlSystem-Backend/FinancialSystem.Test/Coverage

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v2
      with:
        projectBaseDir: FinancialControlSystem-Backend
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
