name: Build, Test and SonarCloud

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore
      run: dotnet restore FinancialControlSystem-Backend/FinancialControlSystem.sln

    - name: Build
      run: dotnet build FinancialControlSystem-Backend/FinancialControlSystem.sln --no-restore --configuration Release

    - name: Create coverage folder
      run: mkdir -p FinancialControlSystem-Backend/FinancialSystem.Test/Coverage

    - name: Test with coverage
      working-directory: FinancialControlSystem-Backend/FinancialSystem.Test
      run: dotnet test --configuration Release /p:CollectCoverage=true /p:CoverletOutput=Coverage/ /p:CoverletOutputFormat=cobertura

    - name: Verify coverage file
      run: ls -R FinancialControlSystem-Backend/FinancialSystem.Test/Coverage

    - name: SonarCloud Scan
      uses: SonarSource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        projectBaseDir: FinancialControlSystem-Backend
